header {
  display: flex;
  flex-direction: row-reverse;
  width:100%;
  min-height: 100vh;
  background-image: url('../images/header-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin: auto;


  .header-text{
    width: 50%;
    flex-direction: column;
    justify-content: right;
    padding-right: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    margin: 0;
    color:white;
    text-shadow: 1px 1px  rgb(201, 201, 201);
    text-align:left;
    text-align: center;

  }
  .red-link{
    text-decoration: none;
  }
  .red-span{
    color: rgb(192, 37, 37);
    text-shadow: none;
  }
}
