.main-class-container {
  width: 90%;
  padding-top: 10px;
  margin: 0 auto;
  height: 100vh;

  .poll-results-container {
    margin-top: 100px;
    background-color: rgb(247, 224, 224);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 70px;

    .div-form-class {
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        width: 50%;
        color:rgb(109, 109, 109);
        text-align: center;
        margin-bottom: 40px;
        margin-top: 0;
      }
    }
      form {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;

        input{
          border: none;
          border-radius: 10px;
          height: 35px;
          margin-left: 20px;
          text-align: center;
        }
        input::placeholder {
          color: rgb(182, 182, 182);
        }

        button {
          margin-left: 10px;
          border: none;
          border-radius: 10px;
          background-color: rgb(192, 37, 37);
          cursor: pointer;
          height: 35px;
          color: white;
        }
        button:hover{
          font-weight: 600;
        }
    }
  }
  .poll-results-container:hover{
    box-shadow: 2px 2px rgb(240, 153, 153);
    background-color: rgb(252, 183, 183);

  }
}

