.results-container {
  width: 70%;
  margin: auto;
  margin-top: 130px;
  border: 1px solid rgb(253, 204, 204);
  border-radius: 15px;
  padding: 10px;
<<<<<<< HEAD
    h1 {
      width: 85%;
      text-align: center;
      color: rgb(190, 19, 19);
      margin: 30px auto 30px;
      text-transform: uppercase;
    }
=======
  margin-top: 12vh;
>>>>>>> d2c3d7184eabe33080552ba5fc3c257c87af205e


  .bar-chart-div {
    background-color: rgb(250, 179, 179);
    border: 1px solid rgb(241, 151, 151);
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;

  }
  .option-div {
    height: 70px;
    padding-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .option-with-percentage {
<<<<<<< HEAD
=======
      width: 80%;
>>>>>>> d2c3d7184eabe33080552ba5fc3c257c87af205e
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .percentage {
      color: white;
      font-weight: 500;
      text-align: center;
    }

    .option-span {
      color: rgb(150, 23, 23);
      text-indent: 7px;
      font-weight: 600;
      min-width: 400px;
    }
    .bar-span{
<<<<<<< HEAD
      background-color: rgb(235, 46, 46);
      box-shadow: 2px 2px white;
      text-indent: 7px;
=======
      background-color: blue;
      width: 80%;
>>>>>>> d2c3d7184eabe33080552ba5fc3c257c87af205e
      border-radius: 10px ;
      color: transparent;
    }





  }












}













